In [1]:
#Write a code to display last item in mytuple.
mytuple = ("apple", "banana", "cherry")
print(mytuple)
print("1st index in mytuple:", mytuple[1])

('apple', 'banana', 'cherry')
1st index in mytuple: banana

In [2]:
mytuple = ("apple","banana","cherry")
print (mytuple)
print("1st index in mytuple:", mytuple[2])
print("Last index in my tuple:", mytuple[-1])
print("last index in mytuple:", mytuple[2])

('apple', 'banana', 'cherry')
1st index in mytuple: cherry
Last index in my tuple: cherry
last index in mytuple: cherry

In [3]:
tuple_1 = (1, 2, 4, 8)
tuple_2 = 1., .5, .25, .125
print(tuple_1)
print(tuple_2)

(1, 2, 4, 8)
(1.0, 0.5, 0.25, 0.125)

In [4]:
my_tuple = (1, 10, 100, 1000)

print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1:])
print(my_tuple[:-2])

for elem in my_tuple:
    print(elem)

for abc in my_tuple:
    print(abc)

1
1000
(10, 100, 1000)
(1, 10)
1
10
100
1000
1
10
100
1000

In [5]:
my_tuple = (1, 10, 100)

t1 = my_tuple + (1000, 10000)

t2 = my_tuple * 3

print(t2)
print(len(t2))
print(t1)

print(10 in my_tuple)
print(-10 not in my_tuple)

(1, 10, 100, 1, 10, 100, 1, 10, 100)
9
(1, 10, 100, 1000, 10000)
True
True

In [6]:
print(len("my name is Yusuf"))

16

In [8]:
mySet= {"apple", "banana", "cherry"}

print(mySet)
mySet2= {"apple", "banana", "cherry", "apple", "banana"}

print(mySet2)

{'banana', 'apple', 'cherry'}
{'banana', 'apple', 'cherry'}

In [10]:
mydict = {"brand": "Ford", #brand:key and ford:value
          "model": "Mustang",
          "year": 1964}
print(mydict)
print(mydict.get("brand"))
print(mydict.get("year"))
print(mydict.get(1))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford
1964
None

In [12]:
dictionary = {"cat": "chat", "dog": "chicken", "horse": "cheval"}

phone_numbers = {'boss': 5551234567, 'Suzy': 22657854310}

empty_dictionary = {}

print(dictionary)
print(phone_numbers)
print(empty_dictionary)
print(dictionary.keys())
print(dictionary.values())

{'cat': 'chat', 'dog': 'chicken', 'horse': 'cheval'}
{'boss': 5551234567, 'Suzy': 22657854310}
{}
dict_keys(['cat', 'dog', 'horse'])
dict_values(['chat', 'chicken', 'cheval'])