In [14]:
name <- "iswarya"
age <- 30

name   # output "John"
age    # output 40

[1] "iswarya"

[1] 30

In [12]:
#variable declaration
name <- "iswarya g"

name # auto-print the value of the name variable

[1] "iswarya g"

In [13]:
name <- "iswarya g"

print(name) # print the value of the name variable

[1] "iswarya g"

In [15]:
for (x in 1:10) {
  print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [16]:
text <- "awesome"

paste("R is", text)

[1] "R is awesome"

In [17]:
num1 <- 5
num2 <- 10

num1 + num2

[1] 15

In [18]:
#strings can not be added using + sign
str1 <- "hello"
str2 <- "bye"

str1 + str2

ERROR: Error in str1 + str2: non-numeric argument to binary operator

In [19]:
num <- 5
text <- "Some text"

num + text

ERROR: Error in num + text: non-numeric argument to binary operator

In [22]:
# Assign the same value to multiple variables in one line
var1 <- var2 <- var3 <- "Orange"

# Print variable values
var1
var2
var3

[1] "Orange"

[1] "Orange"

[1] "Orange"

In [24]:
my_var1 <- 30  # my_var is type of numeric
my_var2 <- "Sally" # my_var is now of type character (aka string)

my_var1 # print my_var
my_var2

[1] 30

[1] "Sally"

In [25]:
x <- 10.5  
class(x)

x <- 1000L  
class(x)

x <- 9i + 3  
class(x)  

x <- "R is exciting"  
class(x)  

x <- TRUE  
class(x)

[1] "numeric"

[1] "integer"

[1] "complex"

[1] "character"

[1] "logical"

In [27]:
# Define a numeric variable
x <- 10

# Determine the class of the variable
class_x <- class(x)

# Print the class
print(class_x)  # Output will be "numeric"

[1] "numeric"

In [30]:
x <- 10.5   # numeric
y <- 10L    # integer (Long)
z <- 1i     # complex
class(x)
class(y)

[1] "numeric"

[1] "integer"

In [31]:
x <- 10.5
y <- 55

# Print values of x and y
x
y

# Print the class name of x and y
class(x)
class(y)

[1] 10.5

[1] 55

[1] "numeric"

[1] "numeric"

In [32]:
x <- 3+5i
y <- 5i

# Print values of x and y
x
y

# Print the class name of x and y
class(x)
class(y)

[1] 3+5i

[1] 0+5i

[1] "complex"

[1] "complex"

In [33]:
x <- 1L # integer
y <- 2 # numeric

# convert from integer to numeric:
a <- as.numeric(x)

# convert from numeric to integer:
b <- as.integer(y)

# print values of x and y
x
y

# print the class name of a and b
class(a)
class(b)

[1] 1

[1] 2

[1] "numeric"

[1] "integer"

In [34]:
names <- c("Alice", "Bob", "Charlie")
for (name in names) {
    print(paste0("Hello, ", name, "!"))
}

[1] "Hello, Alice!"
[1] "Hello, Bob!"
[1] "Hello, Charlie!"

In [36]:
# Create variables of different data types
age <- 30        # Numeric (whole or decimal numbers)
weight <- 70L     # Integer (whole numbers, use L for older R versions)
name <- "Alice"  # Character (string of text)
is_student <- TRUE # Logical (TRUE or FALSE)

# Check the data types of each variable
class(age)   # Output: "numeric"
class(weight) # Output: "integer" or "numeric" depending on your R version
class(name)   # Output: "character"
class(is_student) # Output: "logical"

# Modify values and observe data type changes
age <- 30.5   # Now age is a decimal number
class(age)    # Output: "numeric"

weight <- as.character(weight) # Convert weight to a string
class(weight) # Output: "character"

# Remember, data types can sometimes change!
class(70L)            
class(as.character(70L))

[1] "numeric"

[1] "integer"

[1] "character"

[1] "logical"

[1] "numeric"

[1] "character"

[1] "integer"

[1] "character"

In [38]:
# Perform calculations
height_estimate <- as.numeric(age) + as.numeric(weight)  # Estimate height based on age and weight
circumference <- 2 * pi * as.numeric(weight) / 2  # Calculate circumference (assuming 2 * pi * radius)

# Convert pi to numeric, as calculations usually operate on numeric values
pi <- as.numeric(pi)

# Print the results
print(height_estimate)  # Output: The estimated height
print(circumference)   # Output: The calculated circumference

# Experiment with different calculations and data!
area <- as.numeric(weight) * height_estimate   # Calculate area using estimated height
pi_squared <- pi^2                   # Calculate pi squared
another_area <- pi_squared * (as.numeric(weight) / 2)^2  # Calculate area using radius and pi
print(area)          # Output: The calculated area
print(another_area)  # Output: Another calculated area

[1] 100.5
[1] 219.9115
[1] 7035
[1] 12090.27

In [40]:
# Create strings
color <- "Blue"
food <-  "Pizza"

# Use paste() to combine strings and variables
print(paste0("My favorite color is ", color, "."))  # Output: "My favorite color is Blue."
print(paste("My favorite food is", food, "!", sep = ""))  # Output: "My favorite food isPizza!"

# Experiment with different separators and formatting
print(paste("My favorite color is", color, ".", sep = " - "))  # Output: "My favorite color is - Blue."
print(paste("I am", age, "years old."))  # Output: "I am 30.5 years old."

[1] "My favorite color is Blue."
[1] "My favorite food isPizza!"
[1] "My favorite color is - Blue - ."
[1] "I am 30.5 years old."

In [42]:
# Check if age is above 18
if (age > 18) {
    print("You are an adult.")
} else {
    print("You are not an adult.")
}

# Check if age is even and print a message accordingly
if (age %% 2 == 0) {
    print("Your age is an even number.")
} else {
    print("Your age is an odd number.")
}

# Modify conditions to explore different scenarios!
if (weight > 60 & is_student) {
    print("You are likely a tall student.")
} else if (height_estimate > 170) {
    print("You might be above average height.")
} else {
    print("You have interesting data, explore further!")
}

[1] "You are an adult."
[1] "Your age is an odd number."
[1] "You are likely a tall student."

In [43]:
# Count from 1 to 10 using a loop
for (i in 1:10) {
    print(i)
}

# Iterate over a list of names and print greetings
names <- c("Alice", "Bob", "Charlie")
for (name in names) {
    print(paste0("Hello, ", name, "!"))
}

# Modify loops to change behavior (e.g., count backwards, skip numbers)
# Example: count backwards from 10 to 1
for (i in 10:1) {
    print(i)
}

# Example: skip even numbers from 1 to 10
for (i in 1:10) {
    if (i %% 2 != 0) {  # Check if i is odd (not divisible by 2)
        print(i)
    }
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] "Hello, Alice!"
[1] "Hello, Bob!"
[1] "Hello, Charlie!"
[1] 10
[1] 9
[1] 8
[1] 7
[1] 6
[1] 5
[1] 4
[1] 3
[1] 2
[1] 1
[1] 1
[1] 3
[1] 5
[1] 7
[1] 9

In [44]:
str <- "We are the so-called \"Vikings\", from the north."

str
cat(str)

[1] "We are the so-called \"Vikings\", from the north."

We are the so-called "Vikings", from the north.

In [45]:
10 > 9    # TRUE because 10 is greater than 9
10 == 9   # FALSE because 10 is not equal to 9
10 < 9    # FALSE because 10 is greater than 9

[1] TRUE

[1] FALSE

[1] FALSE

In [46]:
a <- 200
b <- 33

if (b > a) {
  print ("b is greater than a")
} else {
  print("b is not greater than a")
}

[1] "b is not greater than a"

In [47]:
# Open RStudio and create a new script.

# Line 1: Add two numbers
5 + 3  # Output: 8

# Line 2: More additions
10 + 20  # Output: 30
7 - 4    # Output: 3

# Line 3: Multiplication and division
4 * 5     # Output: 20
12 / 3    # Output: 4

# Line 4: Combine operations
10 / 2 * 3  # Output: 15 (PEMDAS: division before multiplication)

# Line 5: Rectangle area
width <- 6
height <- 8
area <- width * height
print(paste0("Rectangle area:", area))  # Output: Rectangle area: 48

[1] 8

[1] 30

[1] 3

[1] 20

[1] 4

[1] 15

[1] "Rectangle area:48"

In [48]:
# Line 1: Find the largest number
max(12, 15, 7)  # Output: 15

# Line 2: Find the smallest number
min(12, 6, 20)  # Output: 6

# Line 3: Square root
sqrt(25)  # Output: 5

# Line 4: Absolute value
abs(-8)   # Output: 8 (positive version)

# Line 5: Minutes to seconds
minutes <- 3
seconds <- 60 * minutes
print(paste0(minutes, "minutes is", seconds, "seconds."))  # Output: 3 minutes is 180 seconds.

[1] 15

[1] 6

[1] 5

[1] 8

[1] "3minutes is180seconds."

In [49]:
# Line 1: Create a string
message <- "Hello!"
print(message)  # Output: Hello!

# Line 2: Assign to a variable
greeting <- "Have a great day!"
print(greeting)  # Output: Have a great day!

# Line 3: String length
name <- "R learner"
nchar(name)  # Output: 9 (including the space)

# Line 4: Check for characters
grepl("a", name)  # Output: TRUE
grepl("z", name)  # Output: FALSE

# Line 5: Combine strings
full_message <- paste(greeting, name)
print(full_message)  # Output: Have a great day! R learner

# Separator example
combined_words <- paste("apple", "orange", "banana", sep = ", ")
print(combined_words)  # Output: apple, orange, banana

[1] "Hello!"
[1] "Have a great day!"

[1] 9

[1] TRUE

[1] FALSE

[1] "Have a great day! R learner"
[1] "apple, orange, banana"

In [52]:
# Line 1: Invalid string (missing escape character)
print("He said \"Hi!\"")  

# Line 2: Fixed string with escape character
message <- "He said \"Hi!\""
print(message)  
# Line 3: Tab example
print("\tThis is tabbed.")

[1] "He said \"Hi!\""
[1] "He said \"Hi!\""
[1] "\tThis is tabbed."