In [1]:
# Vector of strings
fruits <- c("banana", "apple", "orange")

# Print fruits
fruits

[1] "banana" "apple"  "orange"

In [2]:
# Vector with numerical values in a sequence
numbers <- 1:10

numbers

 [1]  1  2  3  4  5  6  7  8  9 10

In [3]:
# Vector with numerical decimals in a sequence
numbers1 <- 1.5:6.5
numbers1

# Vector with numerical decimals in a sequence where the last element is not used
numbers2 <- 1.5:6.3
numbers2

[1] 1.5 2.5 3.5 4.5 5.5 6.5

[1] 1.5 2.5 3.5 4.5 5.5

In [4]:
# Vector of logical values
log_values <- c(TRUE, FALSE, TRUE, FALSE)

log_values

[1]  TRUE FALSE  TRUE FALSE

In [5]:
fruits <- c("banana", "apple", "orange")

length(fruits)

[1] 3

In [7]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")
numbers <- c(13, 3, 5, 7, 20, 2)
sort(fruits)  # Sort a string
sort(numbers) # Sort numbers

[1] "apple"  "banana" "lemon"  "mango"  "orange"

[1]  2  3  5  7 13 20

In [9]:
#Using the sort() function with the decreasing argument:
fruits <- c("banana", "apple", "orange", "mango", "lemon")
numbers <- c(13, 3, 5, 7, 20, 2)

# Sort fruits in descending order (reverse alphabetical)
sorted_fruits <- sort(fruits, decreasing = TRUE)
print(sorted_fruits)  # Output: [1] "orange" "mango" "lemon" "banana" "apple"

# Sort numbers in descending order (largest to smallest)
sorted_numbers <- sort(numbers, decreasing = TRUE)
print(sorted_numbers)  # Output: [1] 20 13 7 5 3 2

[1] "orange" "mango"  "lemon"  "banana" "apple"
[1] 20 13  7  5  3  2

In [10]:
fruits <- c("banana", "apple", "orange")

# Access the first item (banana)
fruits[1]

[1] "banana"

In [11]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")

# Access the first and third item (banana and orange)
fruits[c(1, 3)]

[1] "banana" "orange"

In [12]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")

# Access all items except for the first item
fruits[c(-1)]

[1] "apple"  "orange" "mango"  "lemon"

In [13]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")

# Access all items except for the first item
fruits[c(-1)]

[1] "apple"  "orange" "mango"  "lemon"

In [14]:
fruits <- c("banana", "apple", "orange", "mango", "lemon")

# Change "banana" to "pear"
fruits[1] <- "pear"

# Print fruits
fruits

[1] "pear"   "apple"  "orange" "mango"  "lemon"

In [15]:
fruits <- c("mango", "pineapple", "orange")
print(fruits)

[1] "mango"     "pineapple" "orange"

In [16]:
numbers <- c(25, 42, 7)
print(numbers)

[1] 25 42  7

In [17]:
numbers <- 1:10
print(numbers)

 [1]  1  2  3  4  5  6  7  8  9 10

In [18]:
numbers <- seq(from = 2.5, to = 7.5, by = 0.5)
print(numbers)

 [1] 2.5 3.0 3.5 4.0 4.5 5.0 5.5 6.0 6.5 7.0 7.5

In [20]:
friends <- c("Alice", "Bob", "Charlie")
first_letters <- substr(friends, start = 1, stop = 1)
print(first_letters)

[1] "A" "B" "C"

In [21]:
scores <- c(85, 92, 78, 90)
total_score <- sum(scores)
print(total_score)

[1] 345

In [22]:
ratings <- c(4, 5, 3, 4)
average_rating <- mean(ratings)
print(average_rating)

[1] 4

In [23]:
shoe_sizes <- c(38, 40, 37, 42)
even_sizes <- shoe_sizes[shoe_sizes %% 2 == 0]
print(even_sizes)

[1] 38 40 42

In [24]:
your_foods <- c("pasta", "pizza", "sushi")
friends_foods <- c("burgers", "fries", "tacos")
all_foods <- c(your_foods, friends_foods)
print(all_foods)

[1] "pasta"   "pizza"   "sushi"   "burgers" "fries"   "tacos"

In [25]:
birth_year <- 1995
current_year <- 2024
years <- seq(from = birth_year, to = current_year, by = 2)
print(years)

 [1] 1995 1997 1999 2001 2003 2005 2007 2009 2011 2013 2015 2017 2019 2021 2023

In [26]:
thislist <- list("apple", "banana", "cherry")

thislist[1]

[[1]]
[1] "apple"

In [27]:
thislist <- list("apple", "banana", "cherry")

for (x in thislist) {
  print(x)
}

[1] "apple"
[1] "banana"
[1] "cherry"

In [28]:
activities <- c(TRUE, FALSE, TRUE)
names(activities) <- c("Reading", "Sports", "Movies")
print(activities)

Reading  Sports  Movies
   TRUE   FALSE    TRUE

In [29]:
names_list <- c("Alice", "Bob", "Charlie")
list_length <- length(names_list)
print(list_length)

[1] 3

In [30]:
hobbies <- c("painting", "music", "dancing")
second_hobby <- hobbies[2]
print(second_hobby)

[1] "music"

In [31]:
hobbies <- c("painting", "music", "dancing")
second_hobby <- hobbies[2]
print(second_hobby)

[1] "music"

In [32]:
birth_year <- 1995
current_year <- 2024
years <- seq(from = birth_year, to = current_year, by = 2)
print(years)

 [1] 1995 1997 1999 2001 2003 2005 2007 2009 2011 2013 2015 2017 2019 2021 2023

In [33]:
# Load the dataset
dataset <- read.csv("example_dataset.csv")

# Explore the data:
str(dataset)  # View data structure
head(dataset)  # View first few rows
summary(dataset)  # Get summary statistics

# Clean and preprocess if needed (e.g., handle missing values)

# Example analysis: Finding the average and most frequent values in a column
average_value <- mean(dataset$column_name)
most_frequent_value <- table(dataset$column_name)[which.max(table(dataset$column_name))]

# Create a visualization (e.g., histogram)
library(ggplot2)
ggplot(dataset, aes(x = column_name)) + geom_histogram()

# Continue based on your specific questions and desired analysis

Warning message in file(file, "rt"):
"cannot open file 'example_dataset.csv': No such file or directory"

ERROR: Error in file(file, "rt"): cannot open the connection